@charset "UTF-8";

header, nav, aside, article, footer, section, main, figure, figcaption {
	display:block;
}

* {
 	margin:0;
	border:0;
	padding:0;
	vertical-align: baseline;
}

/* Project Color Palette:
moss green: #729d39
forest green: #36622b
lime green: #c6e377
beige/yellow: #FBFAD3

Font:
font-family: 'McLaren', cursive;
*/

html {
	background-color: #FBFAD3;
}
 .content {
	 background-color: #FBFAD3;
 }

h1, h2, h3, h4, p {
  font-family: 'McLaren', cursive;
}

h1 {
  text-align: center;
  color: #729d39;
  font-size: 3rem;
  padding: 4% 5% 1% 5%;
}

h2{
	text-align: center;
  color: #729d39;
  font-size: 2rem;
  padding: 4% 5% 1% 5%;

}

/*.block {
  color: #36622b;
  font-family: 'McLaren', cursive;
  font-size: 1.75rem;
  text-align: center;
  padding: 5%;
}*/

li {
	width: 40%;
	display: inline-block;
	text-align: center;
	margin: 3%;
	border: 1px solid #36622b;
}

ul li p {
	padding: 10%;
	margin: 0;
	font-size: 1.25rem;
	color: #36622b;
	background-color: #FBFAD3;
	transition: background-color 1000ms;
}

.lime {
	background-color: #c6e377;
	transition: background-color 1000ms;
}

.hide {
	display: none;
}
