@charset "UTF-8";

header, nav, aside, article, footer, section, main, figure, figcaption {
	display:block;
}

* {
 	margin:0;
	border:0;
	padding:0;
	vertical-align: baseline;
}


html {
	background-color: #FBFAD3;
}
 .content {
	 background-color: #FBFAD3;
 }

h1, h2, h3, h4, p {
  font-family: 'McLaren', cursive;
}

h1 {
  text-align: center;
  color: #729d39;
  font-size: 3rem;
  padding: 4% 5% 1% 5%;
}

h2 {
	text-align: center;
  color: #729d39;
  font-size: 2rem;
  padding: 4% 5% 1% 5%;

}

h3 {
	text-align: center;
  color: #729d39;
  font-size: 1.25rem;
  padding: 2% 5% 1% 5%;
}

li {
	width: 40%;
	display: inline-block;
	text-align: center;
	margin: 3%;
	border: 3px solid #36622b;
}

ul li p {
	padding: 10%;
	margin: 0;
	font-size: 3rem;
	color: #36622b;
	background-color: #FBFAD3;
	transition: background-color 1000ms;
}

.lime {
	background-color: #c6e377;
	transition: background-color 1000ms;
}

.forest {
	background-color: #36622b;
	transition: background-color 1000ms;
}

.hide {
	display: none;
}

.hide2 {
	display: none;
}

#fortune-results {
	padding: 5%;
	color: #fff;
	background-color: #36622b;
	transition: background-color 1000ms;
	margin: 0;
	font-size: 1.80rem;
	text-align: center;
}
